body {
    font-family: 'Bangers';font-size: 22px;
}

.navbar {
  overflow: hidden;
background-color:goldenrod;  
position: fixed;
top: 0;
width: 100%;

}

.navbar a {

display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background-color: blue;
color: black;
}

.navbar a.active {
background-color: #04AA6D;
color: black;
}

.navbar .icon {
display: none;
}

